{% extends 'ads/base.html' %}
{% block content %}

{% if messages %}
    <div class="alert">
        {% for message in messages %}
            <div class="alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
<div>
    {% if messages %}
    <div class="alert">
        {% for message in messages %}
        <div class="alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="card-del">
            <h1 class="ad_title del">Действительно хотите удалить {{ ad.title }}?</h1>
            <div class="card-body">
                {% csrf_token %}
            </div>
            <div class="del-btn-group">
                <button type="submit" class="ad_detail_card_button_del">
                    Удалить товар
                </button>
                <button class="ad_detail_card_button_change"><a type="button" href="{% url 'ads:home' %}"></a>Отмена</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}