{% load static %}
{% load my_tags %}
{% if messages %}
{% endif %}
{% include 'ads/includes/head.html' %}
<div class="ad_list_top center">
    {% include 'ads/includes/inc_menu.html' %}
    <div class="ad_list_titler">
        <h1 class="ad_list_title">Список обьявлений</h1>
    </div>
    <div class="alert" style="color: #FFFFFF">
        {% for message in messages %}
        <div class="alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
</div>
<nav class="breadcrumbs center">
    <a href="{% url 'ads:home' %}" class="breadcrumbs_link">Главная</a>
    {% if user.is_authenticated %}
    <a href="{% url 'ads:ad_create' %}" class="breadcrumbs_link">Добавить обьявление</a>
    {% endif %}
</nav>
<div class="center">
    <div class="border"></div>
</div>

<form method="GET">
    <div class="filter-box center" >
        <div>
            <label class="desc">Категория:</label>
            <select name="category" class="filter-box__select">
                <option value="">Все категории</option>
                {% for category in categories %}
                <option value="{{ category }}"
                        {% if category == selected_category %}selected{% endif %}>{{ category }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label class="desc">Состояние:</label>
            <select name="condition" class="filter-box__select">
                <option value="">Все состояния</option>
                <option value="{{ 'N' }}" {% if selected_condition == 'N' %}selected{% endif %}>Новое</option>
                <option value="{{ 'U' }}" {% if selected_condition == 'U' %}selected{% endif %}>Б/У</option>
            </select>
        </div>
        <button type="submit" class="ad_card_button" style="height: 30px;">Применить фильтр</button>
    </div>
    <div class="center">
        <div class="border"></div>
    </div>
</form>

<div class="ad_box center">
    {% for ad in object_list %}
    <div class="ad">
        <img src="{{ ad.image_url | media_filter }}" alt="" class="ad_img">
        <div class="ad_body">
            <h3 class="ad_title">{{ ad.title }}</h3>
            <p class="ad_description">{{ ad.description }}</p>
            <a href="{% url 'ads:ad_detail' ad.pk %}"><button class="ad_card_button">Подробнее</button></a>
        </div>
    </div>
    <div class="border"></div>
    {% empty %}
    <h1 class="ad_list_title">Товары не найдены</h1>
    {% endfor %}
</div>
<div class="pagination-box">
    {% if ads.has_previous %}
    <a href="?page={{ ads.previous_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}{% if selected_condition %}&condition={{ selected_condition }}{% endif %}" class="pagination-link">
        Предыдущая
    </a>
    {% endif %}

    Страница {{ ads.number }} из {{ ads.paginator.num_pages }}

    {% if ads.has_next %}
    <a href="?page={{ ads.next_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}{% if selected_condition %}&condition={{ selected_condition }}{% endif %}" class="pagination-link">
        Следующая
    </a>
    {% endif %}
</div>
</body>

