{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Exchanging_platform</title>
</head>
<body>
{% include 'ads/includes/inc_menu.html' %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Album example</h1>
            <p class="lead text-body-secondary">Something short and leading about the collection below—its contents,
                the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it
                entirely.</p>
            <p>
                <a href="{% url 'ads:ad_create' %}" class="btn btn-primary my-2">Создать обьявление</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>

    </div>

</section>


{% block content %}

{% endblock %}

{% include 'ads/includes/inc_footer.html' %}


<!--<main>-->

<!--    <section class="py-5 text-center container">-->
<!--        <div class="row py-lg-5">-->
<!--            <div class="col-lg-6 col-md-8 mx-auto">-->
<!--                <h1 class="fw-light">Album example</h1>-->
<!--                <p class="lead text-body-secondary">Something short and leading about the collection below—its contents,-->
<!--                    the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it-->
<!--                    entirely.</p>-->
<!--                <p>-->
<!--                    <a href="#" class="btn btn-primary my-2">Main call to action</a>-->
<!--                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

<!--    <div class="album py-5 bg-body-tertiary">-->
<!--        <div class="container">-->


<script src="{% static 'script.js' %}"></script>
</body>
</html>