{% load static %}

{% include 'ads/includes/head.html' %}

<div class="top center">
    {% include 'ads/includes/inc_menu.html' %}

    <div class="titler">


        <h1 class="title">Второй шанс вашим вещам — площадка обмена</h1>
        <p class="desc">Обменивайте и продавайте любимые вещи легко и безопасно. Дарим вещам новую жизнь, а вам —
            экономию и экологичное потребление. Присоединяйтесь к сообществу осознанных покупателей!</p>
    </div>
    {% block content %}

    {% endblock %}
</div>


</body>
</html>