{% load static %}
{% load my_tags %}
{% if messages %}

<div class="alert">
    {% for message in messages %}
    <div class="alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% include 'ads/includes/head.html' %}
<div class="ad_list_top center">
    {% include 'ads/includes/inc_menu.html' %}
    <div class="ad_list_titler">
        <h1 class="ad_list_title">Список предложений</h1>
    </div>
</div>
<nav class="breadcrumbs center">
    <a href="{% url 'ads:home' %}" class="breadcrumbs_link">Главная</a>
</nav>
<div class="center">
    <div class="border"></div>
</div>

<form method="GET">
    <div class="filter-box center" >
        <div>
            <label class="desc">Отправитель:</label>
            <select name="sender" class="filter-box__select">
                <option value="">Все отправители</option>
                {% for proposal in proposals %}
                <option value="{{ proposal.ad_sender.user.id }}"
                        {% if proposal.ad_sender.user.id == selected_sender %}selected{% endif %}>{{ proposal.ad_sender.user.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label class="desc">Получатель:</label>
            <select name="receiver" class="filter-box__select">
                <option value="">Все получатели</option>
                {% for proposal in proposals %}
                <option value="{{ proposal.ad_receiver.user.id }}"
                        {% if proposal.ad_receiver.user.id == selected_receiver %}selected{% endif %}>{{ proposal.ad_receiver.user.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label class="desc">Состояние:</label>
            <select name="status" class="filter-box__select">
                <option value="">Все состояния</option>
                <option value="{{ 'A' }}" {% if selected_status == 'A' %}selected{% endif %}>ожидает</option>
                <option value="{{ 'T' }}" {% if selected_status == 'T' %}selected{% endif %}>принята</option>
                <option value="{{ 'R' }}" {% if selected_status == 'R' %}selected{% endif %}>отклонена</option>
            </select>
        </div>
        <button type="submit" class="ad_card_button" style="height: 30px;">Применить фильтр</button>
    </div>
    <div class="center">
        <div class="border"></div>
    </div>
</form>

<div class="ad_box center">
    {% for ep in proposals %}
    <div class="prop">
        <div class="prop--card">
        <img src="{{ ep.ad_sender.image_url | media_filter }}" alt="" class="ep-img">
        <div class="ad_body">
            <h3 class="ad_title">{{ ep.ad_sender.title | title_filter }}</h3>
            <p class="ad_description">{{ ep.ad_sender.description | description_filter }}</p>
            <p class="ad_description">Отправитель - {{ ep.ad_sender.user.username }}</p>
        </div>
        </div>
        <div class="prop--card">
        <img src="{{ ep.ad_receiver.image_url | media_filter }}" alt="" class="ep-img">
        <div class="ad_body">
            <h3 class="ad_title">{{ ep.ad_receiver.title | title_filter }}</h3>
            <p class="ad_description">{{ ep.ad_receiver.description | description_filter }}</p>
            <p class="ad_description">Получатель - {{ ep.ad_receiver.user.username }}</p>
        </div>
        </div>
    </div>
    <p class="ad_description">Статус заявки - {{ ep.get_status_display }}</p>
    <a href="{% url 'ads:exchange_proposal_detail' ep.pk %}" class="ep-link"><button class="ep_card_button">Подробнее</button></a>
    <div class="border"></div>
    {% empty %}
    <h1 class="ad_list_title">Товары не найдены</h1>
    {% endfor %}
</div>
<div class="pagination-box">
    {% if ads.has_previous %}
    <a href="?page={{ ads.previous_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}{% if selected_condition %}&condition={{ selected_condition }}{% endif %}" class="pagination-link">
        Предыдущая
    </a>
    {% endif %}

    Страница {{ ads.number }} из {{ ads.paginator.num_pages }}

    {% if ads.has_next %}
    <a href="?page={{ ads.next_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}{% if selected_condition %}&condition={{ selected_condition }}{% endif %}" class="pagination-link">
        Следующая
    </a>
    {% endif %}
</div>
</body>