{% extends 'ads/base.html' %}
{% block content %}

<div class="create-card">
    {% if object %}
    <h1 class="ad_list_title">Редактирование записи</h1>
    {% else %}
    <h1 class="ad_list_title">Создание записи</h1>
    {% endif %}
    <div class="create-form">
        {% csrf_token %}
        {{ form.as_p }}
    </div>
    <button type="submit" class="login-btn">
        {% if object %}
        Изменить запись
        {% else %}
        Создать запись
        {% endif %}
    </button>
</div>

{% endblock %}