{% extends 'ads/base.html' %}
{% block content %}
<div class="login-box center">
    <h1 class="ad_list_title">Авторизация</h1>
    <form class="row" method="post" enctype="multipart/form-data" class="login-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="login-btn">Отправить</button>
    </form>
</div>
<!--<div class="login-box center">-->
<!--    <h1 class="ad_list_title">Авторизация</h1>-->

<!--    <form class="row" method="post" enctype="multipart/form-data" class="login-form">-->
<!--        <input type="hidden" name="csrfmiddlewaretoken"-->
<!--               value="5dB4uA26C0vn9z7Mwx8LciXYRPcyPMAEUocoLUdQaUta3HPlISxqhnkcfhjK77bu">-->
<!--        <p>-->
<!--            <label for="id_username">Имя пользователя:</label>-->
<!--            <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150"-->
<!--                   class="form-control" required id="id_username">-->
<!--        </p>-->


<!--        <p>-->
<!--            <label for="id_password">Пароль:</label>-->
<!--            <input type="password" name="password" autocomplete="current-password" class="form-control" required-->
<!--                   id="id_password">-->
<!--        </p>-->
<!--        <button type="submit" class="login-btn">Отправить</button>-->
<!--    </form>-->
<!--</div>-->
{% endblock %}