* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 735px;
  background-image: url(style_img/bg-3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  height: 76px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.header_input {
  width: 288px;
  height: 41px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  background: rgb(255, 255, 255);
  background-color: transparent;
  outline: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

.header_input::-moz-placeholder {
  color: #FFFFFF;
}

.header_input::placeholder {
  color: #FFFFFF;
}

.top_menu {
  display: flex;
  gap: 32px;
}

.header_link {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

.header_link:hover {
  text-decoration: underline;
}

.titler {
  color: #FFFFFF;
}

.titler_base {
  display: none;
  color: #FFFFFF;
}

.title {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  margin-top: 64px;
  margin-bottom: 16px;
}

.desc {
  line-height: 32px;
  font-size: 24px;
  margin-bottom: 16px;
}

.ad_list_top {
  height: 350px;
  background-image: url(style_img/bg_ad_all.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 32px;
}

.ad_list_titler {
  color: #FFFFFF;
  margin-top: 150px;
}

.ad_box {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  flex-direction: column;
}

.ad {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.ad_img {
  width: 180px;
}

.ad_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ad_title {
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 8px;
}

.ad_description {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}

.ad_card_button {
  height: 37px;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  color: rgb(2, 2, 2);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  transition: all 0.3s;
}

.ad_card_button:hover {
  border-radius: 50px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;
}

.breadcrumbs_link {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: none;
}

.border {
  border: 0.5px solid rgb(202, 205, 216);
  margin-bottom: 16px;
}

.ad_detail_top {
  height: 70px;
  background-image: url(style_img/ad_detail_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ad_detail_img {
  width: 350px;
}

.btn-group {
  display: flex;
  gap: 32px;
}

.ad_body_detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 40px;
}

.ad_detail_card_button_swap {
  height: 37px;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  color: rgb(2, 2, 2);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  transition: all 0.3s;
}
.ad_detail_card_button_swap:hover {
  border-radius: 50px;
  background: rgb(19, 155, 14);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
}

.ad_detail_card_button_change {
  height: 37px;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  color: rgb(2, 2, 2);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  transition: all 0.3s;
}
.ad_detail_card_button_change:hover {
  border-radius: 50px;
  background: rgb(206, 209, 21);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
}

.ad_detail_card_button_del {
  height: 37px;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  color: rgb(2, 2, 2);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  transition: all 0.3s;
}
.ad_detail_card_button_del:hover {
  border-radius: 50px;
  background: rgb(160, 25, 7);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
}

.ad_card_button:hover {
  border-radius: 50px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
}
.login_form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.login-box {
  padding: 30px;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(168 156 144 / 60%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 20px;
}

.form-input{
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.form-control {
  text-align: center;
  border: none;
  border-bottom: solid 1px rgb(255, 255, 255);
  background-color: transparent;
  outline: none;
  height: 24px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

.button_center {
  display: flex;
  justify-content: center;
}

.login-btn {
  background: rgb(127 103 91 / 80%);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  margin-top: 16px;
  height: 37px;
  width: 330px;
  box-sizing: border-box;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  transition: all 0.3s;
}
.login-btn:hover {
  border-radius: 50px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
}

.create-card{
  padding: 30px;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(168 156 144 / 60%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 20px;
}


.filter-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  row-gap: 16px;
  padding-bottom: 16px;
}

.create-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.filter-box__select {
  font-size: 16px;
  padding-right: 23px;
  padding-left: 23px;
  width: 200px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
}

.pagination-box {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}

.pagination-link {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 2px;
}

.pagination-link:hover {
  text-decoration: underline;
}

.ep-img{
  height: 200px;
  width: 200px;
}

.ep_card_button {
  height: 37px;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  color: rgb(2, 2, 2);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  transition: all 0.3s;
}

.ep_card_button:hover {
  border-radius: 50px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.ep-link {
  align-self: center;
}

.prop {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.prop--card {
  display: flex;
  grid-column: span 1;
  align-items: flex-start;
  column-gap: 12px;
}

.prop-detail-box {
  display: grid;
  grid-template-columns: 1fr;
}

.prop-ad {
  margin-bottom: 24px;
  border-bottom: 2px solid rgb(202, 205, 216);
}

.prop-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
}

.card-del {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  margin-top: 24px;
}

.del {
  color: #FFFFFF;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
}
input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
    color: fieldtext !important;
}
